:root {
    --gray: #212121;
    --lgreen: #24cfa6;
    --black: #0c0c0c;
    --white: #e9e9e9;
    --lgray: #353535;
    --green: #009560;
    --llgreen: #02e797;
    --llgray: #929292;
}

@font-face {
    font-family: neu;
    src: url(assets/fonts/NeueMachina-Regular_DQCmjH1st.ttf);
    font-display: swap;
}

@font-face {
    font-family: helvetica;
    src: url(assets/fonts/Helvetica_NTUXwLmxSC.ttf);
    font-display: swap;
}

@font-face {
    font-family: helvetica bold;
    src: url(assets/fonts/HelveticaNowDisplay-Bold_VMHV5twUMR.ttf);
    font-display: swap;
}

@font-face {
    font-family: helvetica med;
    src: url(assets/fonts/HelveticaNowDisplay-Medium_2wEhlmo-TD.ttf);
    font-display: swap;
}

@font-face {
    font-family: Gilory;
    src: url(assets/fonts/Gilroy-Bold_JK4cTGJOE.ttf);
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    color: var(--white);
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
  scroll-behavior: smooth;
}


body {
    background-color: var(--black);
}

.llgray {
    color: var(--llgray);
}

.llgreen {
    color: var(--llgreen);
}

.green {
    background-color: var(--green);
}

.lgray {
    background-color: var(--lgray);
}

button:hover {
    opacity: .85;
    cursor: pointer;
    transition: .2s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    font-family: neu;
    position: fixed;
    width: 100%;
}

.nav1 {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.nav1 img {
    height: 45px;
}

.nav1 h4 {
    font-weight: 400;
    line-height: 21px;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav2 h4 a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.nav2 button {
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 900;
    background-color: var(--lgreen);
    border: none;
}

.nav3 {
    display: none;
    align-items: center;
    gap: 20px;
    margin-right: 13px;
}

.nav3 h4 {
    font-size: 17PX;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 75%;
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    padding: 75px 20px;
    transition: .4s ease-in-out;
    z-index: 999;
}

.mobile-menu a {
    font-size: 20px;
    margin: 12px 0;
    text-decoration: none;
}

.mobile-menu button {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    background: var(--green);
    border-radius: 5px;
}

.mobile-menu .close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
}

.mobile-menu.show {
    right: 0;
}

/* responsive for nav */
@media (max-width: 600px) {

    nav {
        padding: 15px;
    }

    .nav1 img {
        height: 28px;
    }

    .nav1 h4 {
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
    }

    .nav2 {
        display: none;
    }

    .nav3 {
        display: flex;
    }
}

/* main part */
main {
    padding-top: 80px;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 70px;
    font-family: helvetica;
}

/* left part */
.section1 .left {
    width: 41%;
}

.section1 .left h1 {
    font-size: 43px;
    font-weight: 500;
}

.section1 .left .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0px;
    gap: 8px;
    width: 80%;
}

.section1 .left .tags h4 {
    background-color: var(--gray);
    padding: 10px 25px;
    font-family: Gilory;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
}

.section1 .left .price {
    font-size: 36px;
    margin-top: 40px;
}

.section1 .left .price .llgreen {
    font-size: 30px;
}

.section1 .left .price .llgray {
    font-size: 22px;
    text-decoration: line-through;
}

.section1 .left .price .small {
    font-size: 22px;
}

.section1 .left h5 {
    color: var(--llgreen);
    font-family: Gilory;
    font-weight: 600;
    font-size: 16px;
}

.section1 .left button {
    margin: 15px 0px;
    padding: 17px 0;
    border: none;
    border-radius: 7px;
    font-size: 22px;
    width: 40%;
}

.section1 .left .button {
    display: flex;
    align-items: center;
    gap: 13px;
}

.section1 .left .green {
    font-weight: 700;
}

.section1 .left .lgray {
    font-weight: 400;
}

.section1 .left h6 {
    font-size: 16px;
    font-family: Gilory;
    font-weight: 400;
}

.section1 .left h6 span {
    color: var(--llgreen);
}

/* right part */
.section1 .right .right-In {
    width: 580px;
    border-radius: 5px;
    overflow: hidden;
}

.section1 .right .image {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.section1 .right .image img {
    width: 100%;
    height: 100%;
}

.section1 .right .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    padding-top: 40px;
    background-color: #1e1e1e;
}

.section1 .right .info h4 {
    background-color: #151515;
    padding: 13px 15px;
    border-radius: 5px;
    width: 45%;
    font-size: 15px;
    font-weight: 400;
}

.section1 .right .info h4 span {
    color: #0cda97;
}


/* responsive */
@media (max-width:1400px) {
    .section1 .left h1 {
        font-size: 3vw;
    }
}

@media (max-width:1100px) {
    .section1 {
        flex-direction: column-reverse;
        padding: 15px 5vw;
    }

    .section1 .left {
        width: 100%;
        margin-top: 20px;
    }

    .section1 .left h1 {
        font-size: 33px;
    }

    .section1 .left .tags {
        margin: 20px 0px;
        gap: 8px;
        width: 100%;
    }

    main {
        padding-top: 60px;
    }

    .section1 .right .right-In {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
    }

    .section1 .right .image {
        width: 100%;
        height: 50vw;
    }

    .section1 .right .info {
        gap: 7px;
        padding: 12px;
        padding-top: 15px;
    }

    .section1 .right .info h4 {
        padding: 10px 13px;
        border-radius: 5px;
        width: 45%;
        font-size: 3vw;
    }

    .section1 .left .price {
        font-size: 5vw;
        font-weight: 600;
        margin-top: 30px;
    }

    .section1 .left .price .llgreen {
        font-size: 5vw;
    }

    .section1 .left .price .llgray {
        font-size: 3.5vw;
        text-decoration: line-through;
    }

    .section1 .left .price .small {
        font-size: 3.5vw;
    }

    .section1 .left h5 {
        font-weight: 600;
        font-size: 3.5vw;
    }

    .section1 .left button {
        margin: 15px 0px;
        padding: 17px 0;
        border: none;
        border-radius: 7px;
        font-size: 5vw;
        width: 50%;
    }

    .section1 .left .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section1 .left h6 {
        font-size: 3.5vw;
    }
}

@media (max-width:600px) {
    .section1 .left h1 {
        font-size: 5vw;
    }
}

/* for section2 */
.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px 50px 0;
}

.section2 h1 {
    font-size: 140px;
    font-family: helvetica bold;
    background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/mask%20Large_ZB4lGN8hWZ.png);
    background-size: cover;
    background-clip: text;
    color: transparent;
    position: relative;
}

.section2 h1.bloom {
    background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/bloomMask%20Large_lvwFbM14_l.png);
    position: absolute;
    filter: blur(80px);
}

.section2 h3 {
    font-size: 42px;
    text-transform: capitalize;
    font-family: helvetica;
    font-weight: 300;
    letter-spacing: -1px;
}

.section2 .about {
    margin: 75px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 .about img {
    width: 80%;
}

.section3 .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section3 .text h1 {
    font-size: 140px;
    font-family: helvetica bold;
}

.section3 .text h3 {
    font-size: 29px;
    font-family: Gilory;
}

/* difference table */
.section3 .difference {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    flex-direction: column;
    font-family: helvetica med;
}

.section3 .difference .heading {
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: 600;
}


/* connector */
.diff-connector {
    width: 440px;
    margin: 5px auto 35px;
    position: relative;
    border-top: 2px dashed #777;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-color: #888;
}

.diff-connector::before,
.diff-connector::after {
    content: "";
    position: absolute;
    top: 0;
    height: 34px;
    border-left: 2px dashed #777;
}

.diff-connector::before {
    left: 0;
}

.diff-connector::after {
    right: 0;
}

.section3 .difference .diff {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.section3 .difference .diff .left-side,
.section3 .difference .diff .right-side {
    width: 420px;
    background-color: #1e1e1e;
    padding: 28px 30px;
    border-radius: 10px;
    font-size: 17px;
}

.left-heading,
.right-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
    font-size: 22px;
}

.left-heading h4,
.left-heading p {
    color: #33d889;
}

.right-heading h4,
.right-heading p {
    color: #ff4433;
}

.left-side li,
.right-side li {
    list-style: none;
    margin-bottom: 18px;
    font-size: 17px;
    line-height: 1.6;
}

.left-side li span {
    color: #33d889;
}

.left-body hr {
    border: 1px dashed #4a4a4a;
    margin: 25px 0;
}

.left-body .tag {
    background: #3a3a3a;
    padding: 7px 13px;
    border-radius: 6px;
    display: inline-block;
    color: #ccc;
    font-size: 13px;
    margin-bottom: 20px;
}

.left-points li {
    margin-bottom: 14px;
    font-size: 17px;
}


/* responsive */
@media (max-width: 1100px) {
    .section3 .text h1 {
        font-size: 12.5vw;
    }

    .section3 .text h3 {
        font-size: 2.6vw;
    }

    .section3 .difference .diff .left-side,
    .section3 .difference .diff .right-side {
        width: 43vw;
        background-color: #1e1e1e;
        padding: 20px;
        font-size: 2vw;
    }
}

@media (max-width: 800px) {
    .section2 {
        padding: 50px 5vw 25px 5vw;
    }

    .section2 h1 {
        font-size: 20vw;
        text-align: center;
    }

    .section2 h3 {
        font-size: 4.5vw;
    }

    .section2 .about {
        margin: 40px 0px;
    }

    .section2 .about img {
        width: 100%;
    }

    .section3 .text h1 {
        font-size: 12vw;

    }

    .section3 .text h3 {
        font-size: 3vw;
        width: 65%;
        text-align: center;
    }

    .section3 .difference .heading {
        font-size: 8vw;
        margin-bottom: 25px;
        font-weight: 600;
    }

    /* connector */
    .diff-connector {
        display: none;
    }

    .section3 .difference .diff {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .section3 .difference .diff .left-side,
    .section3 .difference .diff .right-side {
        width: 85vw;
        padding: 20px;
    }
}

footer {
    text-align: center;
    font-size: 12px;
    padding: 20px;
}
